<?xml version="1.0"?>
<config>
   <modules>
      <Inspiricon_Personalize>
          <version>1.2.6</version>
      </Inspiricon_Personalize>
   </modules>
   <frontend>
        <routers>
            <personalize>
                <use>standard</use>
                <args>
                    <module>Inspiricon_Personalize</module>
                    <frontName>personalize</frontName>
                </args>
            </personalize>
        </routers>
       <layout>
           <updates>
               <personalize module="Inspiricon_Personalize">
                   <file>personalize.xml</file>
               </personalize>
           </updates>
       </layout>
   </frontend>
   <global>
	 <catalog>
            <product>
                <type>
                    <customproduct translate="label" module="catalog">
                        <label>Markju Product</label>
                        <model>personalize/product_type_cp</model>
                        <is_qty>1</is_qty>
                            <index_data_retreiver>personalize/catalogIndex_data_cp</index_data_retreiver>
                        <price_model>personalize/product_price</price_model>
                        <composite>0</composite>
                    </customproduct>
                </type>
		</product>        
        </catalog>

        <models>
            <personalize>
                <class>Inspiricon_Personalize_Model</class>
                <resourceModel>personalize_mysql4</resourceModel>
            </personalize>
            <personalize_mysql4>
                <class>Inspiricon_Personalize_Model_Mysql4</class>
                <entities>
                    <personalize>
                        <table>personalize</table>
                    </personalize>
                </entities>
            </personalize_mysql4>
        </models>
        <resources>
            <personalize_setup>
                <setup>
                    <module>Inspiricon_Personalize</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </personalize_setup>

            <personalize_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </personalize_write>
            <personalize_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </personalize_read>
        </resources>

	    <blocks>
            <personalize>
                <class>Inspiricon_Personalize_Block</class>
            </personalize>
        </blocks>

	    <helpers>
            <personalize>
                <class>Inspiricon_Personalize_Helper</class>
            </personalize>
        </helpers>
    </global>


    <adminhtml>
        <events>
            <catalog_product_new_action>
                <observers>
                    <personalize_observer_catalog_product_new_action>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCatalogProductNewAction</method>
                    </personalize_observer_catalog_product_new_action>
                </observers>
            </catalog_product_new_action>
            <catalog_product_edit_action>
                <observers>
                    <personalize_observer_catalog_product_edit_action>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCatalogProductEditAction</method>
                    </personalize_observer_catalog_product_edit_action>
                </observers>
            </catalog_product_edit_action>
            <catalog_product_prepare_save>
                <observers>
                    <personalize_observer_catalog_product_prepare_save>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCatalogProductPrepareSave</method>
                    </personalize_observer_catalog_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>

            <catalog_product_save_after>
                <observers>
                    <personalize_observer_catalog_product_save_after>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCatalogProductSaveAfter</method>
                    </personalize_observer_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>

            <catalog_product_delete_before>
                <observers>
                    <personalize_observer_catalog_product_delete_before>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCatalogProductDeleteBefore</method>
                    </personalize_observer_catalog_product_delete_before>
                </observers>
            </catalog_product_delete_before>

            <catalog_product_status_update>
                <observers>
                    <personalize_observer_catalog_product_status_update>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCatalogProductStatusUpdate</method>
                    </personalize_observer_catalog_product_status_update>
                </observers>
            </catalog_product_status_update>




            <sales_order_item_save_after>
                <observers>
                    <personalize_observer_sales_order_item_save_after>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoSalesOrderItemSaveAfter</method>
                    </personalize_observer_sales_order_item_save_after>
                </observers>
            </sales_order_item_save_after>
            <sales_order_save_before>
                <observers>
                    <personalize_observer_sales_order_save_before>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoSalesOrderSaveBefore</method>
                    </personalize_observer_sales_order_save_before>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <personalize_observer_sales_order_save_after>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoSalesOrderSaveAfter</method>
                    </personalize_observer_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <catalogrule_before_apply>
                <observers>
                    <personalize_observer_catalogrule_before_apply>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCatalogruleBeforeApply</method>
                    </personalize_observer_catalogrule_before_apply>
                </observers>
            </catalogrule_before_apply>
            <catalogrule_after_apply>
                <observers>
                    <personalize_observer_catalogrule_after_apply>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCatalogruleAfterApply</method>
                    </personalize_observer_catalogrule_after_apply>
                </observers>
            </catalogrule_after_apply>
            <catalog_entity_attribute_save_after>
                <observers>
                    <personalize_observer_catalog_entity_attribute_save_after>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCatalogEntityAttributeSaveAfter</method>
                    </personalize_observer_catalog_entity_attribute_save_after>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_product_delete_after_done>
                <observers>
                    <personalize_observer_catalog_product_delete_after_done>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCatalogProductDeleteAfterDone</method>
                    </personalize_observer_catalog_product_delete_after_done>
                </observers>
            </catalog_product_delete_after_done>

            <customer_login>
                <observers>
                    <personalize_observer_customer_login>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCustomerLogin</method>
                    </personalize_observer_customer_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <personalize_observer_customer_logout>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCustomerLogout</method>
                    </personalize_observer_customer_logout>
                </observers>
            </customer_logout>
            <sales_quote_save_after>
                <observers>
                    <personalize_observer_sales_quote_save_after>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoSalesQuoteSaveAfter</method>
                    </personalize_observer_sales_quote_save_after>
                </observers>
            </sales_quote_save_after>
            <catalog_product_collection_load_after>
                <observers>
                    <personalize_observer_catalog_product_collection_load_after>
                        <type>singleton</type>
                        <class>personalize/observer</class>
                        <method>hookIntoCatalogProductCollectionLoadAfter</method>
                    </personalize_observer_catalog_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>
        </events>
    </adminhtml>

</config>
